# ============================================
# Python
# ============================================
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg
*.manifest
*.spec

# ============================================
# Virtual environments
# ============================================
.venv/
venv/
VENV/
env/

# ============================================
# Bancos de dados locais
# ============================================
instance/
*.db
*.sqlite3

# ============================================
# Flask migrations
# ============================================
migrations/

# ============================================
# Configurações locais
# ============================================
.env
*.env

# ============================================
# Logs
# ============================================
*.log

# ============================================
# IDE / Editor
# ============================================
.vscode/
.idea/
*.swp

# ============================================
# Sistema
# ============================================
.DS_Store
Thumbs.db

# ============================================
# Docker
# ============================================
*.pid
.docker/